<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="social-links"> 
    <a class="link" data-title="facebook.com/myfacebook" href="https://facebook.com/myfacebook"></a> 
    <a class="link" data-title="twitter.com/mytwitter" href="https://twitter.com/mytwitter"></a> 
    <a class="link" data-title="github.com/mygithub" href="https://github.com/mygithub"></a> 
    <a class="link" data-title="medium.com/@medium" href="https://medium.com/@medium"></a> 
    <a class="link" data-title="myemail@gmail.com" href="mailto:myemail@gmail.com"></a> 
  </div>
</div>
